@import '~@solana/wallet-adapter-react-ui/styles.css';

.wallet-adapter-button-trigger {
  border-radius: 24px !important;
  background-color: #000000 !important;
}

.wallet-adapter-button {
  padding: 0px 16px;
}
